version: '3.8'
services:
  ntp:
    build: ./ntp
    container_name: ntp_server
    cap_add:
      - SYS_TIME  # TODO: Droit pour l'heure système ?
    ports: 
      - "20123:123/udp"
    networks:
      lab_net:
        ipv4_address: 172.28.0.4

  dns:
    build: ./dns
    container_name: dns_server
    ports: 
      - "53:53/udp" 
      - "53:53/tcp" # TODO: Ports DNS ?
    networks:
      lab_net:
        ipv4_address: 172.28.0.5
  
  vpn:
    build: ./vpn
    container_name: vpn_server
    cap_add: 
      - NET_ADMIN # TODO: Droit pour l'interface TUN ?
    devices:
      - "/dev/net/tun:/dev/net/tun"
    ports: 
      - "1194:1194/udp" 
    networks:
      lab_net:
        ipv4_address: 172.28.0.2

  postgres:
    build: ./postgres
    container_name: postgres_db
    environment:
      POSTGRES_PASSWORD: ??? # A definir
    volumes: 
      - "pg-data:/var/lib/postgresql/data"

  radius:
    build: ./radius
    container_name: radius_server
    ports: 
      - "1812:1812/udp"
    depends_on:  # TODO: Ordre de démarrage ?
      - postgres
    environment:
      DB_HOST: # TODO: Nom du service DB ?
        - postgres_db
    networks:
      lab_net:
        ipv4_address: 172.28.0.3

  networks: 
    pop-net:
      driver: bridge
  volumes: 
    pg-data: